.small-container{
    position: relative;
}
/* Button */
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
/* men and women images */
.men-image{
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.women-image{
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
/* Button text */
.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 20px;
}
.text:hover{
    background-color: #333333;
    font-size: 18px;
}
/* Hover on image and button */
.small-container:hover .men-image {
    opacity: 0.65;
}
.small-container:hover .women-image {
    opacity: 0.65;
}
.small-container:hover .middle {
    opacity: 1;
}

 /* footer */
.linkStyle{
  text-decoration: none;
  color: black;
}
.linkStyle:hover{
    font-size: 17px;
    color:burlywood;
}



 